<h2>
  <%= @user.username %>
  <% if @user.closed %>
    <mark>account closed</mark>
  <% end %>
</h2>

<% if !(@user == current_user) && current_user.admin %>
  <% if @user.closed %>
    <%= link_to "open account", toggle_closed_user_path(@user), method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "close account", toggle_closed_user_path(@user), method: :post, class: "btn btn-danger" %>
  <% end %>
<% end %>

<p> Has made <%= @user.ratings.count %> ratings, average rating <%= round(@user.average_rating) %> </p>

member of

<% if !@user.memberships.empty? %>
  <ul>
    <% @user.memberships.each do |membership| %>
      <li> <%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %> </li>
    <% end %>
  </ul>
<% end %>

<% if !@user.ratings.empty? %>
  favorite style: <%= @user.favorite_style.name %></br>
  favorite brewery: <%= @user.favorite_brewery %>
<% end %>

<h3> ratings </h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> 
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
