<h1>Ratings</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Best beers</h2>
    <%= render 'list', top: @top_beers %>
  </div>

  <div class="col-md-4">
    <h2>Best breweries</h2>
    <%= render 'list', top: @top_breweries %>
  </div>

  <div class="col-md-4">
    <h2>Best styles</h2>
    <%= render 'list', top: @top_styles %>
  </div>
</div>

<h2>Most active users</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.ratings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>recent ratings</h2>

<ul>
  <% @recent_ratings.each do |rating| %>
    <li><%= rating %> by <%= rating.user.username %> at <%= rating.created_at %>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'New rating', new_rating_path, class:'btn btn-primary' %>
<% end %>